#Android generated
bin
gen
lint.xml

#Eclipse
.project
.classpath
.settings
.checkstyle
project.properties

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#Other
.DS_Store
tmp
notes
setprop.bat


.metadata
tmp/
*.tmp
*.bak
*.swp

